CREATE PROCEDURE [dbo].[spOperationItem_Add]
	 @Id  INT OUT, 
     @OperationId  INT, 
     @Z1  NVARCHAR(50), 
     @Z2  NVARCHAR(50), 
     @Z3  NVARCHAR(50), 
     @ZEDrawingNumber  NVARCHAR(50), 
     @FileName  NVARCHAR(50), 
     @Symbol  NVARCHAR(50),
     @AMT  INT,
     @SheetNumber  NVARCHAR(50),
     @StockName  NVARCHAR(500),
     @SupplierName  NVARCHAR(500),
     @SupplierPartNumber  NVARCHAR(500),
     @ItemNumber  NVARCHAR(500),
     @ReferanceZENumber  NVARCHAR(50),
     @ReferanceSymbol  NVARCHAR(50),
     @ReferanceSheetNumber  NVARCHAR(50),
     @FileIdentificationType  int,
     @HEXNumber  NVARCHAR(10),
     @NewSymbol  NVARCHAR(50),
     @NewSheetNumber  NVARCHAR(50),
     @RowIndex  INT,
     @Column1  NVARCHAR(50),
     @Column2  NVARCHAR(50),
     @Column3  NVARCHAR(50),
     @IsProcessed  BIT,
     @Status1 BIT,
     @Status2 BIT,
     @Status3 BIT,
     @Status4 BIT,
     @Status5 BIT
AS
BEGIN
    INSERT INTO [dbo].[OperationItem]
    (
         [OperationId], 
         [Z1], 
         [Z2], 
         [Z3], 
         [ZEDrawingNumber], 
         [FileName], 
         [Symbol],
         [AMT],
         [SheetNumber],
         [StockName],
         [SupplierName],
         [SupplierPartNumber],
         [ItemNumber],
         [ReferanceZENumber],
         [ReferanceSymbol],
         [ReferanceSheetNumber],
         [FileIdentificationType],
         [HEXNumber],
         [NewSymbol],
         [NewSheetNumber],
         [RowIndex],
         [Column1],
         [Column2],
         [Column3],
         [IsProcessed],
         [Status1],
         [Status2],
         [Status3],
         [Status4],
         [Status5]
    )
    Values
    (
        @OperationId, 
        @Z1, 
        @Z2, 
        @Z3, 
        @ZEDrawingNumber, 
        @FileName, 
        @Symbol,
        @AMT,
        @SheetNumber,
        @StockName,
        @SupplierName,
        @SupplierPartNumber,
        @ItemNumber,
        @ReferanceZENumber,
        @ReferanceSymbol,
        @ReferanceSheetNumber,
        @FileIdentificationType,
        @HEXNumber,
        @NewSymbol,
        @NewSheetNumber,
        @RowIndex,
        @Column1,
        @Column2,
        @Column3,
        @IsProcessed,
        @Status1,
        @Status2,
        @Status3,
        @Status4,
        @Status5
    );

    SET @Id=@@IDENTITY;
END
 
