<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="DatabaseConnection" connectionString="Data Source=SANDIP-LAPTOP;Persist Security Info=False;Initial Catalog={0};User ID=sa;Password=Test123;" providerName="System.Data.SqlClient" />-->
    <add name="DatabaseConnection" connectionString="Data Source=LAPTOP-TBNAIL55\SQLEXPRESS;Persist Security Info=False;Initial Catalog={0};User ID=sa;Password=Test123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>